<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Name: <%= message.user %> </h1>
    <p>Message: <%= message.text %></p>
    <p>Dated: <%= message.added %></p>
    <a href="/">Back to Home</a>
</body>
</html>